body {
    cursor: none;
  }

.intro-text-letter {
    display: block;
}

.intro-text-inner {
    display: block;
}

@media only screen and (min-width: 991px) {
    .intro-text-inner {
        font-size: clamp(96px, calc(6.000rem + ((1vw - 9.91px) * 10.356)), 128px);
    }
    .intro-text {
        height: clamp(96px, calc(6.000rem + ((1vw - 9.91px) * 10.356)), 128px);
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .intro-text-inner {
        font-size: clamp(80px, calc(5.000rem + ((1vw - 7.68px) * 7.175)), 96px);
    }
    .intro-text {
        height: clamp(80px, calc(5.000rem + ((1vw - 7.68px) * 7.175)), 96px);
    }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
    .intro-text-inner {
        font-size: clamp(60px, calc(3.750rem + ((1vw - 4.80px) * 6.944)), 80px);
    }
    .intro-text {
        height: clamp(60px, calc(3.750rem + ((1vw - 4.80px) * 6.944)), 80px);
    }
}


.block {
    width: 200px;
    height: 100px;
}


.btn {
    pointer-events: auto; /* Enables hover detection */
    transition: background-color 0.25s ease;
}

.btn:hover {
    animation: neonPulse 1.5s infinite;
    box-shadow: 0 0 20px var(--lighter-green);
    /* text-shadow: 0 0 10px var(--lighter-green); */
}
  
@keyframes neonPulse {
    0% {
      box-shadow: 0 0 10px var(--lighter-green);
    }
    50% {
      box-shadow: 0 0 20px var(--lighter-green), 0 0 30px var(--lighter-green);
    }
    100% {
      box-shadow: 0 0 10px var(--lighter-green);
    }
}



