.intro-text-letter {
    display: block;
}

.intro-text-inner {
    display: block;
    height: var(--intro-text-height);
}

.block {
    width: 200px;
    height: 100px;
}

/* BLOCKS */
.block-1 { /* green alien */
    top: 55%;
    left: 30%;
}

.block-2 { /* skull */
    top: 25%;
    left: 20%;
}

.block-3 { /* devil */ 
    top: 70%;
    left: 50%;
}

.block-4 { /* saint */
    top: 40%;
    left: 60%;
}

.block-5 { /* heart eyes */
    top: 30%;
    left: 30%;
}

.block-6 { /* aliens */
    top: 30%;
    left: 70%;
}

.block-7 { /* sunglasses */
    top: 50%;
    left: 30%;
}

.block-8 { /* star eyes */
    top: 70%;
    left: 70%;
}

.block-9 { /* mind blown */
    top: 70%;
    left: 70%;
}

.block-10 { /* baby */
    top: 50%;
    left: 70%;
}

.block-11 { /* portfolio */
    top: 30%;
    left: 30%;
}

.block-12 { /* about */
    top: 70%;
    left: 34%;
}

.block-13 { /* designo */
    top: 60%;
    left: 60%;
}

.block-14 { /* arch */
    top: 50%;
    left: 40%;
}

.block-15 { /* audiophile */
    /* top: 30%;
    left: 50%; */
    top: 60%;
    left: 50%;
}

.block-16 {
    top: 20%;
    left: 30%;
}
/* 
.block-19 {
    top: 20%;
    left: 50%;
}

.block-20 {
    top: 60%;
    left: 10%;
}

.block-21 {
    top: 20%;
    left: 40%;
}

.block-22 {
    top: 40%;
    left: 60%;
}

.block-23 {
    top: 60%;
    left: 25%;
}

.block-24 {
    top: 30%;
    left: 50%;
}

*/