/* MENU */

  .menu-item:hover .menu-link-hover2 {
    left: 0%;
  }

  .menu-item:hover .menu-link-main {
    left: -100%;
  }

  .menu-item.menu-opened:hover .menu-img {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }

  .menu-img,
.menu-item .menu-link-main,
.menu-item .menu-link-hover2 {
  transition: all 0.5s;
}