.nav .next,
.nav .prev {
  stroke: #fff;

}

.item-card:hover {
    transform: scale(1.05);
    border: 3px solid var(--lighter-green);
}

.item-card {
    transition: transform 0.3s ease-in-out, border 0.3s ease-in-out;
}