.w-inline-block {
    text-decoration: none;
}

body {
  cursor: auto;
}

/* Button Animation */

.btn-text-emoji {
    animation: gentlePoint 2s infinite ease-in-out;
  }
  
@keyframes gentlePoint {
    0%, 100% {
      transform: rotate(0deg) scale(1);
    }
    50% {
      transform: rotate(5deg) scale(1.05);
    }
}
  
  
.btn-project:hover {
    animation: neonPulse 1.5s infinite;
    box-shadow: 0 0 20px var(--lighter-green);
    /* text-shadow: 0 0 10px var(--lighter-green); */
}
  
@keyframes neonPulse {
    0% {
      box-shadow: 0 0 10px var(--lighter-green);
    }
    50% {
      box-shadow: 0 0 20px var(--lighter-green), 0 0 30px var(--lighter-green);
    }
    100% {
      box-shadow: 0 0 10px var(--lighter-green);
    }
}

.no-animation {
    animation: none!important;
  }

.image-panel-slide-item-image {
  transition: scale 0.3s ease-in-out;
}

.image-panel-slide-item-image:hover {
  scale: 1.05;
}

.thumbnail-image-wrapper:hover .thumbnail-corner {
  transform: scale(1.0);
  transform-origin: center center;
  transition: transform 0.15s ease-in-out;
}

