.w-inline-block {
    text-decoration: none;
}

/* .project-thumbnail-image:hover {
    border: 3px solid var(--lighter-green);
}

.project-thumbnail-image {
    transition: border 0.3s ease-in-out;
} */